<div class="container mt-4">
  <br>
  <h2 class="text-center">Products</h2>
  <br>
  <% if user_signed_in? %> 
  <% if current_user.role == 'admin' %>
  <%= link_to 'Add Product', new_category_product_path(@category), class: 'btn btn-primary mb-3' if current_user.admin? %>
  <% end %>
  <% end %>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
        <%= link_to [@category, product], class: 'card-link', style: "width: 100%; text-decoration: none;" do %>
          <div class="card shadow-sm" style="min-height: 350px;">
            <% if product.images.attached? %>
              <%= image_tag product.images.first, class: "card-img-top", alt: product.name, style: "height: 200px; object-fit: cover;" %>
            <% else %>
              <%= image_tag 'placeholder.jpg', class: "card-img-top", alt: 'Placeholder image', style: "height: 200px; object-fit: cover;" %>
            <% end %>
            <div class="card-body d-flex flex-column text-center">
                <h5 class="card-title product-name"><%= product.name %></h5>
                <p class="card-text product-price">₹<%= product.mrp %></p>
                <div class="mt-auto">
                  
                  <% if current_user&.admin? %>
                  <%= button_to 'Destroy', [@category, product], data: {
                    turbo_method: :delete,turbo_confirm: "Are you sure?"}, 
                    class: 'btn btn-sm btn-danger' %>
                  <% end %>
                  </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<style>



  .card {
    transition: transform 0.3s, box-shadow 0.3s;
    min-height: 350px;
    cursor: pointer;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card img {
    height: 200px;
    object-fit: cover;
  }

    .product-name {
    font-size: 1.25rem; /* Increase the font size */
    font-weight: bold;  /* Make the name bold */
    color: #333;        /* Darker color for better contrast */
    margin-bottom: 0.5rem;
    text-transform: capitalize; /* Capitalize product names */
  }

  .product-price {
    font-size: 1.1rem;   /* Slightly larger than normal text */
    color: #28a745;      /* Green color to emphasize the price */
    font-weight: 600;    /* Medium font weight for emphasis */
    margin-bottom: 1rem; /* Add space between price and buttons */
  }

  .card-title, .card-text {
    margin: 0;
  }

  .btn-danger {
    font-size: 0.875rem; /* Slightly smaller font for delete button */
  }

</style>
